<div class="checkbox-wrapper" [ngClass]="{disabled: disabled}">
  <label [attr.for]="id" class="checkbox-label checkbox-label-{{size}}" [ngClass]="{checked: checked, disabled: disabled, 'float-left': float === 'left', 'float-right': float === 'right'}">
    <span class="label checkbox-label-text">
      <ng-content></ng-content>
    </span>
    <input type="checkbox" class="checkbox" [checked]="checked" [id]="id" [disabled]="disabled" (change)="propagateChange($event.target.checked)" (blur)="propagateTouched()">
    <div class="checkbox-indicator"></div>
  </label>
</div>
