.btn {
  vertical-align: middle;
  line-height: initial;
  border: 0;
  border-radius: 3px;
  background: none;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
  text-align: center;

  &[class*='-alt'] {
    background-color: palette('primary', 'complement');
  }

  &[class*='-outline'] {
    
  }

  &[class*='-nofill'] {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  &:focus {
    outline: 0;
  }
}

.btn-round {
  border-radius: 50%;

  &-sm {
    @extend .btn-round;
    width: 40px;
    height: 40px;
    line-height: 36px;
  }

  &-md {
    @extend .btn-round;
    width: 50px;
    height: 50px;
    line-height: 46px;
  }
}

.btn-input {
  width: 100%;
  margin-top: 10px;

  @include respond-from(sm) {
    @include pos-y();
    right: 0;
    width: auto;
    height: 35px; // Same as a standard .input
    line-height: inherit;
    margin-top: 4px;
  }
}

.btn-anchor {
  @extend .btn;
  @include anchors(palette('neutral', 'dark'), palette('primary'), $deep: false);

  &.active {
    @include anchors(palette('primary'), palette('primary'), false, false);
  }
}

// Sizes
.btn-xs {
  padding: 5px 10px;

  &[class*='-outline'] {
    padding: 4px 10px;
  }
}

.btn-sm {
  padding: 7px 14px;

  &[class*='-outline'] {
    padding: 6px 14px;
  }
}

.btn-md {
  padding: 9px 16px;

  &[class*='-outline'] {
    padding: 8px 16px;
  }
}

.btn-lg {
  padding: 11px 18px;

  &[class*='-outline'] {
    padding: 10px 18px;
  }
}

.btn-xl {
  padding: 13px 20px;

  &[class*='-outline'] {
    padding: 12px 20px;
  }
}

.btn-fluid {
  width: 100%;
  padding: 13px 20px;

  &[class*='-outline'] {
    padding: 12px 20px;
  }
}

.btn-fluid-mobile {
  width: 100%;

  @include respond-from(sm) {
    width: auto;
  }
}

// Themes
.btn-primary {
  @include anchors(palette('primary', 'complement'), palette('primary', 'complement'), false, false);
  // border-bottom: 4px solid palette('primary', 'dark');
  background-color: palette('primary');
  color: palette('primary', 'complement');

  &:active {
    background-color: palette('primary', 'dark');
    color: palette('primary', 'complement');
  }

  &-outline,
  &-nofill {
    @include anchors(palette('primary'), palette('primary'), false, false);
  }

  &-alt {
    border: 0;
    color: palette('primary');
  }

  &-outline {
    border: 2px solid palette('primary');
    background-color: palette('primary', 'complement');
    color: palette('primary');

    @include respond-from(md) {

      &:hover {
        background-color: palette('primary');
        color: palette('primary', 'complement');
      }
    }

    &:active {
      background-color: palette('primary', 'dark');
      color: palette('primary', 'complement');
    }
  }

  &-nofill {
    color: palette('primary');

    &:active {
      color: palette('primary', 'dark');
    }
  }

  @include respond-from(md) {

    &:hover {
      background-color: palette('primary', 'dark');
    }
  }
}

.btn-complement {
  @include anchors(palette('primary', 'complement'), palette('primary', 'complement'), false, false);
  // border-bottom: 4px solid palette('complement', 'dark');
  background-color: palette('complement');
  color: palette('primary', 'complement');

  &:active {
    background-color: palette('complement', 'dark');
    color: palette('primary', 'complement');
  }

  &-outline,
  &-nofill {
    @include anchors(palette('complement'), palette('complement'), false, false);
  }

  &-alt {
    border: 0;
    color: palette('complement');
  }

  &-outline {
    border: 2px solid palette('complement');
    background-color: palette('primary', 'complement');
    color: palette('complement');

    @include respond-from(md) {

      &:hover {
        background-color: palette('complement');
        color: palette('primary', 'complement');
      }
    }

    &:active {
      background-color: palette('complement');
      color: palette('primary', 'complement');
    }
  }

  &-nofill {
    color: palette('complement');

    &:active {
      color: palette('complement', 'dark');
    }
  }

  @include respond-from(md) {

    &:hover {
      background-color: palette('complement', 'dark');
    }
  }
}

.btn-success {
  @include anchors(palette('primary', 'complement'), palette('primary', 'complement'), false, false);
  // border-bottom: 4px solid palette('success', 'dark');
  background-color: palette('success');
  color: #fff;

  &:active {
    background-color: palette('success', 'dark');
    color: palette('primary', 'complement');
  }

  &-outline,
  &-nofill {
    @include anchors(palette('success'), palette('success'), false, false);
  }

  &-alt {
    border: 0;
    color: palette('success');
  }

  &-outline {
    border: 1px solid palette('success');
    background-color: palette('primary', 'complement');
    color: palette('success');

    @include respond-from(md) {

      &:hover {
        background-color: palette('success');
        color: palette('success', 'complement');
      }
    }

    &:active {
      background-color: palette('success', 'dark');
      color: palette('primary', 'complement');
    }
  }

   &-nofill {
    color: palette('success');

    &:active {
      color: palette('success', 'dark');
    }
  }

  @include respond-from(md) {

    &:hover {
      background-color: palette('success', 'dark');
    }
  }
}

.btn-danger {
  @include anchors(palette('primary', 'complement'), palette('primary', 'complement'), false, false);
  // border-bottom: 4px solid palette('danger', 'dark');
  background-color: palette('danger');
  color: #fff;

  &:active {
    background-color: palette('danger', 'dark');
    color: palette('primary', 'complement');
  }

  &-outline,
  &-nofill {
    @include anchors(palette('danger'), palette('danger'), false, false);
  }

  &-alt {
    border: 0;
    color: palette('danger');
  }

  &-outline {
    border: 1px solid palette('danger');
    background-color: palette('primary', 'complement');
    color: palette('danger');

    @include respond-from(md) {

      &:hover {
        background-color: palette('danger');
        color: palette('danger', 'complement');
      }
    }

    &:active {
      background-color: palette('danger', 'dark');
      color: palette('primary', 'complement');
    }
  }

  &-nofill {
    color: palette('danger');

    &:active {
      background-color: palette('danger', 'dark');
    }
  }

  @include respond-from(md) {

    &:hover {
      background-color: palette('danger', 'dark');
    }
  }
}

.btn-special {
  @include anchors(palette('primary', 'complement'), palette('primary', 'complement'), false, false);
  // border-bottom: 4px solid palette('special', 'dark');
  background-color: palette('special');
  color: #fff;

  &:active {
    background-color: palette('special', 'dark');
    color: palette('primary', 'complement');
  }

  &-outline,
  &-nofill {
    @include anchors(palette('special'), palette('special'), false, false);
  }

  &-alt {
    border: 0;
    color: palette('special');
  }

  &-outline {
    border: 1px solid palette('special');
    background-color: palette('primary', 'complement');
    color: palette('special');

    @include respond-from(md) {

      &:hover {
        background-color: palette('special');
        color: palette('special', 'complement');
      }
    }

    &:active {
      background-color: palette('special', 'dark');
      color: palette('primary', 'complement');
    }
  }

  &-nofill {
    color: palette('special');

    &:active {
      color: palette('special', 'dark');
    }
  }

  @include respond-from(md) {

    &:hover {
      background-color: palette('special', 'dark');
    }
  }
}

.btn-neutral {
  background-color: palette('neutral');
  color: palette('text', 'primary');
}

.btn-facebook {
  background-color: palette('facebook');
  color: white;
}

.btn-dropdown {
  font-size: 0.875rem;
  font-weight: 500;
}