<div class="dropdown-wrapper" [ngClass]="{open: isOpen, disabled: disabled}" (clickOutside)="close()" [exceptions]="[toggler]">
  <header class="dropdown-header">
		<button #toggler class="btn btn-sm btn-neutral dropdown-toggle" type="button" (click)="toggle()">
      <ng-template [ngTemplateOutlet]="modelRef" [ngOutletContext]="{$implicit: model}"></ng-template>
      <span class="dropdown-icon" *ngIf="isToggleIconVisible"><i class="fa fa-angle-{{isOpen ? 'up' : 'down'}}"></i></span></button>
	</header>
	<ul class="dropdown-menu">
    <ng-container *ngFor="let option of options; trackBy:trackByFn">
      <li class="dropdown-menu-item" *ngIf="option[uniqueKey] !== (model || {})[uniqueKey]" (click)="select(option)">
        <ng-template [ngTemplateOutlet]="optionRef" [ngOutletContext]="{$implicit: option}"></ng-template>
      </li>
    </ng-container>
	</ul>
</div>