@import './src/assets/styles/utils/_exports';

.mc-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mc-close-icon {
  color: palette('neutral');
  transition: color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: palette('danger');
  }
}
