<div #select class="sm-control" [ngClass]="{open: isOpen, disabled: disabled}" (clickOutside)="close()" [exceptions]="[exception]">
	<div #exception>
		<div>
			<label class="label select-label" *ngIf="label" [for]="selectId">{{label}}</label>
			<input class="input sm-input" [id]="selectId" (focus)="open()" (keydown.enter)="$event.preventDefault()" readonly [disabled]="disabled" [placeholder]="placeholder">
		</div>
		<div class="sm-selected-options" [ngClass]="{populated: model?.length}" (click)="open()">
			<ul class="sm-selected-options-list">
				<li class="sm-selected-options-list-item" *ngFor="let item of model | slice:0:[labelsCap]; let last = last">
					<!-- Don't break the line here for the span or it'll create a margin to the left -->
					<ng-template [ngTemplateOutlet]="modelRef" [ngOutletContext]="{$implicit: item}"></ng-template><span *ngIf="!last">,</span>
				</li>
				<li *ngIf="model?.length > labelsCap" class="sm-selected-options-additional"> and {{model?.length - labelsCap}} more</li>
			</ul>
		</div>
	</div>
	<div class="sm-options" [ngClass]="{visible: isOpen}">
		<ul class="sm-options-list">
			<li class="sm-option-static">
				<search-input (search)="queryFn.emit($event)" [placeholder]="queryPlaceholder"></search-input>
				<button class="btn btn-sm btn-complement sm-check-all-btn" type="button" (click)="selectAll()">Select all</button> 
			</li>
			<li class="sm-option" *ngFor="let option of options; trackBy:trackByFn">
				<checkbox [(ngModel)]="option.isChecked" (ngModelChange)="selectOption(option)" [ngModelOptions]="{standalone: true}" float="right">
					<ng-template [ngTemplateOutlet]="optionRef" [ngOutletContext]="{$implicit: option}"></ng-template>
				</checkbox>
			</li>
		</ul>
	</div>
	<span class="sm-toggle-icon">
    <i class="fa fa-angle-{{isOpen ? 'up' : 'down'}}"></i>
  </span>
</div>
